@charset "utf-8";
/* CSS Document */

@media screen and (max-width: 580px) {
	.inside header {
		width: 88%;
		
	}
	
	.filter-options select {
		font-size: 9pt;
		margin: 5px;
		
	}
	
	#map {
		width: 100%;
		
	}
	
	#restaurants-list li {
		width: 100%;
		margin-right: 0;
		margin-left: 0;
		padding:0;
		
	}
	
	header #breadcrumb {
		width: 100%;
		
	}

	.inside #map-container {
		width: 100%;
		top: 130px;
		height: 250px;
		position: relative;
		
	}
	
	.inside #restaurant-container {
		position: relative;
		width: 100%;
		padding-left: 20px;
		padding-right: 0;
		
	}

	.inside #reviews-container {
		width: 92%;
		font-size: 28pt;
		padding-left: 20px;
		
	}
	.inside #footer {
		position: inherit;
		width: 100%;
		font-size: 10px;
		
	}

}

@media screen and (min-width: 581px) and (max-width: 757px) {
	#restaurants-list li {
		width: 100%;
		
	}
	
	.inside #restaurant-container {
		padding-left: 20px;
		width: 50%;
		
	}
	
	.inside #reviews-container {
		padding-left: 20px;
		
	}
	
	#reviews-list li p:nth-child(-n + 2) {
		width: 45%;
		font-size: 9px;
		
	}
	
	#reviews-list li p:nth-child(3) {
		font-size: 9px;
		
	}
	
	.inside #footer {
		position: inherit;
		width: 40%;
		font-size: 10px;
		
	}
	
	#restaurant-name {
		font-size: 18px;
		
	}
	
	#restaurant-hours td {
		font-size: 10px;
		
	}
	
}